[user]
	email = akshatsharma2602@gmail.com
	name = Akshat Sharma
	signingkey = ~/.ssh/id_github_ed25519.pub
[credential]
	helper = store
[rerere]
	enabled = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
